input:focus {
  outline: 1px solid green;
}

/* .task-icons {
  align-items: flex-end;
} */

.bi-kanban-fill {
  /* color: #42273b; */
  margin-right: 0.5rem;
}

.bi-justify {
  margin-right: 0.5rem;
}

.card-delete {
  float: right;
  cursor: pointer;
}

.bi-pencil-fill {
  padding: 0 2px;
  color: green;
}

.bi-trash-fill {
  color: red;
}

span.create-new-item {
  display: flex;
  align-items: stretch;
}

.bi-x-lg {
  cursor: pointer;
  font-size: 1.3rem;
  margin-left: 1rem;
}
