input:focus {
  outline: 1px solid green;
}

/* .task-icons {
  align-items: flex-end;
} */

.bi-kanban-fill {
  /* color: #42273b; */
  margin-right: 0.5rem;
}

.bi-pencil-fill {
  padding: 0 2px;
  color: green;
}

.bi-trash-fill {
  color: red;
}

.card-delete {
  float: right;
  cursor: pointer;
}
